*{
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: grey;
    color: white;
    font-size: 20px;
}
.nav-content{
    margin-left: 70px;
    display: flex;
    flex-direction: row;
    
}
.nav-content select{
    background-color: grey;
    color: white;
    border: grey;
    font-size: 18px;
}
.nav-title{
    margin: 5px;
    padding: 10px;
}
.nav-search{
    margin: 10px;
    margin-right: 40px; 
}
.nav-search input{
  height: 30px;
  width: 230px;
  background-color: grey;
  color: white;
  font-size: 20px;
  border: none;
  border-bottom: 1px solid white;
}
div.main-section{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.product-desc{
    padding: 10px;
}
.product-image{
    margin: 0px 150px;
}
.product-image img{
    width: 100%;
}
td{
    padding: 10px;
}
.addToCart{
    margin: 10px;
    background: coral;
    color: white;
    border-radius: 5px;
}

.reviews{
    text-align: center;
    border: 1px solid #80808052;
    border-left: none;
    border-right: none;
    padding: 10px 0px;
    margin:40px 0px;
}
